IT440 - Database Management Systems/Assignment 6/ch15_problem9_Young.dtd

<!ELEMENT ProdPriceData (ProdPrice+)>
<!ELEMENT ProdPrice (PROD_CODE, PROD_DESCRIPT, PROD_PRICE, PROD_ON_HAND, VEND_CODE)>
<!ELEMENT PROD_CODE        (#PCDATA)>
<!ELEMENT PROD_DESCRIPT    (#PCDATA)>
<!ELEMENT PROD_PRICE       (#PCDATA)>
<!ELEMENT PROD_ON_HAND     (#PCDATA)>
<!ELEMENT VEND_CODE        (#PCDATA)>